.content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cardsContent{
    position: relative;
    width: 1250px;
    height: 585px;
    margin-top:40px;
}

@media screen and (max-width: 1255px){
    .cardsContent{
        width: 100vw;

    }
    
}